<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>
		{% block title %}Welcome!
		{% endblock %}
	</title>

	<link rel="icon"
		href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
	{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
	{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
	{% endblock %}

	{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
	{% endblock %}
</head>
{% block body %}
	<div class="login">
		<div class="form-container sign-in-container ">
			<form method="post">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						Vous etes connecté(e) comme
						{{ app.user.userIdentifier }},
						<a href="{{ path('app_logout') }}">Me déconnecter</a>
					</div>
				{% endif %}

				<h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
				<div>
					<label for="inputEmail">Email</label>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail"  autocomplete="email" required autofocus>
				</div>
				<div>
					<label for="inputPassword">Mot de passe</label>
					<input type="password" name="password" id="inputPassword"  autocomplete="current-password" required> 
				</div>
				

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<button class="btn btn-lg btn-primary" type="submit">
					Connexion
				</button>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-right">
					<img src="img/Ressources/Logo-LaReligieuseAMoteur.png" alt="">
					<p>Pas de compte ? Inscrit toi !</p>
					<a href="{{path('app_register')}} "><button class="ghost" id="signUp">Sign In</button></a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
