{% extends 'base.html.twig' %}

{% block title %}La religieuse | Accueil
{% endblock %}

{% block body %}
	<div class="rech">
		<div class="bar">
			<h1>Recherche...</h1>
			<div class="logo">
				<img src="img/loupe.png" alt="">
			</div>
		</div>
	</div>
	<main>
		<div class="patMoment">
			<h1>PATISSERIES DU MOMENT</h1>
			<div class="container-card">
			 	{% for key, product in products|slice(0, 4) %}
					<div class="card">
						<div class="texte-card">
							<h1>{{ product.name }}</h1>
							<p>{{ product.description }}</p>
							<a href="{{ path('products_details', {'slug': product.slug}) }}">
								<button>
									<span>
										En savoir plus !
									</span>
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36" height="36" viewbox="0 0 36 36">
										<defs>
											<filter id="a" x="0" y="0" width="36" height="36" filterunits="userSpaceOnUse">
												<feOffset dy="1" input="SourceAlpha"/>
												<feGaussianBlur stddeviation="1" result="b"/>
												<feFlood flood-color="#d88787" flood-opacity="0.161"/>
												<feComposite operator="in" in2="b"/>
												<feComposite in="SourceGraphic"/>
											</filter>
										</defs>
										<g transform="translate(-33 -103)">
											<g transform="matrix(1, 0, 0, 1, 33, 103)" filter="url(#a)">
												<rect width="30" height="30" rx="15" transform="translate(3 2)" fill="#fff"/>
											</g>
											<g transform="translate(65.668 134.668) rotate(180)">
												<path d="M21.836,19H7.5a1,1,0,0,1,0-2H21.836a1,1,0,0,1,0,2Z" transform="translate(0 -3.332)" fill="#014023"/>
												<path d="M18,22.836a1,1,0,0,1-.707-1.707l6.461-6.461L17.293,8.207a1,1,0,0,1,1.414-1.414l7.168,7.168a1,1,0,0,1,0,1.414l-7.168,7.168A1,1,0,0,1,18,22.836Z" transform="translate(-3.332 0)" fill="#014023"/>
											</g>
										</g>
									</svg>
								</button>
							</a>
						</div>
						<div class="photo">
							<img src="{{ asset('assets/public/') ~ product.picture }}" alt="">
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="cat">
			<h1>CATÉGORIES</h1>
			<div class="select">
				{% for category in categories %}
					{% if category.parent is not null %}
						<div class="card">
							<a href="{{ path('categories_list', {slug: category.slug}) }}"> <img id="img" src="{{ asset('assets/cat/') ~ category.image ~('.png') }}" alt="{{ category.name }}"></a>
						</div>
					{% endif %}
				{% endfor %}

			</div>
		</div>
	</main>
{% endblock %}
