{% extends 'base.html.twig' %}

{% block title %}Détails de {{ product.name }} {% endblock %}

{% block body %}
    <main class="detail_product">
        <section >
            <div class="top_product">
                <img src="{{ asset('../assets/public/') ~ product.picture }}" alt="">
            </div>
            <div class="details_desc">
                <h1>{{ product.name }}</h1>
                <h6>Prix : {{ product.price / 100 }} €</h6>
                <h4>Ingrédients</h4>
                <div class="ingr">
                    <li>Lorem</li><li>Lorem</li><li>Lorem</li>
                </div>
                <h4>Details</h4>
                <p>{{ product.description }}</p>
                <div class="add">
                    <p>Types : {{ product.categories.name }}</p>
                        {% if product.stock > 0 %}
                            {# <a href="{{ path('order_add')}}"> <button> <span><svg xmlns="http://www.w3.org/2000/svg" width="18.478" height="15.941" viewBox="0 0 18.478 15.941"><path d="M17.471,11.03,13.792,5.524a.817.817,0,0,0-.7-.357.827.827,0,0,0-.7.357L8.719,11.03H4.7a.842.842,0,0,0-.84.84.986.986,0,0,0,.029.227l2.129,7.786a1.684,1.684,0,0,0,1.621,1.226H18.554a1.674,1.674,0,0,0,1.617-1.23L22.3,12.092a.749.749,0,0,0,.034-.223.842.842,0,0,0-.84-.84H17.471Zm-6.9,0,2.52-3.7,2.52,3.7Zm2.52,6.719a1.68,1.68,0,1,1,1.68-1.68A1.679,1.679,0,0,1,13.095,17.749Z" transform="translate(-3.856 -5.167)" fill="#fff"/></svg></span> Ajouter au panier </button></a> #}
                        {% else %}
                            <p class="text-danger">Temporairement en rupture de stock</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
        <div class="other">
            {% set current_product = product %}
            {% set other_products = [] %}

            {% for key, product in products_other %}
                {% if product.categories.name == current_product.categories.name and product.id != current_product.id %}
                    {% set other_products = other_products|merge([product]) %}
                {% endif %}
            {% endfor %}

            {% for key, product in other_products|slice(0, 4) %}
                <div class="card">
                    <div class="photo">
                        <img src="{{ asset('assets/public/') ~ product.picture }}" alt="">
                    </div>
                    <div class="description">
                        <div class="title">
                            <h1>{{ product.name }}</h1>
                            <h4>Prix : {{ product.price }}€</h4>
                        </div>
                        <p>Types : {{ product.categories.name }}</p>
                        <a href="{{ path('products_details', {'slug': product.slug}) }}">Details produit</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
