{% extends 'base.html.twig' %}

{% block title %}Liste de la categories {{ categories.name}}{% endblock %}

{% block body %}
<div class="list">
    <div class="liste_cont">
        <h1> Liste de la categories {{ categories.name}} </h1>

        <div class="container_list">
            {% for product in products %}
                <div class="product_card">
                    <img src="img/Ressources/Images/Patisseries/gateauAmande.png" alt="">
                    <div class="product_desc">
                        <h1>{{product.name}}</h1>
                        <p>{{product.price}} euro</p>
                        <a href="{{ path('products_details', {'slug':  product.slug})}}"> Détails du produit </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}